body{
  height: 100vh;
}
#wrapper{
  width: 100%;
  height: 600px;
}

header{
  height: 20vh;
  width: 100%;
  background-color: #cc1d51;
}
nav{
  height: 10vh;
  width: 100%;
  background-color: #4eb55c;
}
main{
  height: 60vh;
  width: 70%;
  background-color: #821a8a;
}
aside{
  height: 60vh;
  width: 30%;
  background-color: #9e672c;
}
footer{
  height: 10vh;
  width: 100%;
  background-color: #2138cf;
}
#container{
  display: flex;
}

/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
  font-size: 40px;
}

/* visited link */
a:visited {
  color: red;
  font-size: 40px;
}

/* mouse over link */
a:hover {
  color: hotpink;
  font-size: 40px;
}

/* selected link */
a:active {
  color: hotpink;
  font-size: 40px;
}
